:root {
    --primary1: #1B262C;
    --primary2: #0F4C75;
    --primary3: #3282B8;
    --primary4: #BBE1FA;
}

[theme="g10"] input, [theme="g10"] textarea {
    color: #1B262C;
}

* {
    transition: background-color 200ms ease,  color 150ms ease ;
}

/* OUTPUT ELEMENTS*/

.out input {
    font-family: 'Digital-7';
    font-size: 2.25rem;
    text-align: end;
    padding-right: 1rem !important;
}

.out .bx--text-input--sm {
    color: grey;
    border-bottom: none;
   font-size: 1.5rem; 
} 

.out svg {
    display: none;
}


button.bx--tooltip__trigger.bx--tooltip__trigger--definition {
    border-bottom: none;
}

button.bx--tooltip__trigger.bx--tooltip__trigger--definition.bx--tooltip--bottom:focus {
    outline: none;
}

@media (max-width: 600px) {
    button.bx--btn {
        padding: calc(0.875rem - 3px) 23px calc(0.875rem - 3px) 15px;
       }
}

button.bx--btn {
    font-family: 'Digital-7';
    min-height: 5rem;
    font-size: 2.5rem;

    padding: calc(0.875rem - 3px) 33px calc(0.875rem - 3px) 15px;
}

/* GRID */
.n7 { grid-area: n7; }
.n8 { grid-area: n8; }
.n9 { grid-area: n9; }
.n4 { grid-area: n4; }
.n5 { grid-area: n5; }
.n6 { grid-area: n6; }
.n1 { grid-area: n1; }
.n2 { grid-area: n2; }
.n3 { grid-area: n3; }
.ndot { grid-area: ndot; }
.out { grid-area: out; }
.division { grid-area: division; }
.mult { grid-area: mult; }
.minus { grid-area: minus; }
.plus { grid-area: plus; }
.n0 { grid-area: n0; }
.ac { grid-area: ac; }
.pow { grid-area: pow; }
.equal { grid-area: equal; }

/* SCROLLBAR */

::-webkit-scrollbar, .scroller::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background:  var(--primary2);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background:  var(--primary3);
}   


/* FONTS */

@font-face {
    font-family: 'Digital-7';
    src: url('fonts/Digital-7.woff2') format('woff2'),
        url('fonts/Digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Digital-7 Mono';
    src: url('fonts/Digital-7Mono.woff2') format('woff2'),
        url('fonts/Digital-7Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Digital-7 Mono';
    src: url('fonts/Digital-7MonoItalic.woff2') format('woff2'),
        url('fonts/Digital-7MonoItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Digital-7';
    src: url('fonts/Digital-7Italic.woff2') format('woff2'),
        url('fonts/Digital-7Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

